html, body, #canvas-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
button{
    transition: background-color 0.2s;
    background-color: #252323;
    color: #fdfeff;
    padding: 0px 0px;
    cursor: pointer;
    border-radius: 0px;
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    display: flex;
    align-items: center;
    border: 2px solid #de5857;
    outline: none;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
button[class="startbtn"]{
    min-width: 180px;
    min-height: 4rem;
    font-size: 28px;
}
input {
    position: absolute;
    min-height: 2.375rem;
    max-height: 48px;
    line-height: 2.375rem;
    max-width: 20rem;
    min-width: 6.25rem;
    font-size: 2rem;
    background-color: #252323;
    color: #fdfeff;
    padding: 0px 0px;
    border-radius: 10px;
    border: 2px solid #de5857;
    outline:none;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

input:focus {
    border: 3px solid #de5857;
}
button:hover{
    background-color: #de5857;
}
