body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
button[id=next]{
  position:absolute;
  cursor:pointer;
  bottom:50px;
  right:0px;
  height:50px;
  width:100px;
  background-color: #000000;
  color: white;
  border: 2px solid #008150;
  transition: 0.1s;
}
button[id=next]:hover{
  background-color: #242424;
  border: 4px solid #00FF9F;
}
.slidecontainer {
  width: 100%;
}

.slider {
  position: absolute;
  bottom:0;
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:hover {
  background: #FFFFFF;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}
.settings-container {
  position: relative;
}

.settings-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.settings-icon img {
  width: 20px;
  height: auto;
}

.settings-bar {
  position: absolute;
  top: 40px;
  right: -150px;
  background-color: #f4f4f4;
  width: 150px;
  height: auto;
  transition: right 0.3s ease;
}

.reset-button {
  display: block;
  width: 100%;
  padding: 10px 0;
  cursor:pointer;
  background-color: #000000;
  color: white;
  border: 2px solid #008150;
  transition: 0.1s;
}

.reset-button:hover {
  border: 2px solid #00FF9F;
  background-color: #242424;
}
