body {
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  overflow: hidden;
  color: #333333;
  font-family: 'Roboto';
}

button[id=next]{
  position: absolute;
  cursor: pointer;
  padding:0;
  margin:none;
  bottom: 0px;
  right: 0px;
  height: 50px;
  width: 10%;
  background-color: #1e3d59;
  color: #ffffff;
  border: none;
  transition: 0.1s;
}
p[id=textP]{
  font-size: 20px;
  width: 100%;
  position:absolute;
  display: inline;
  text-align: center;
  margin:10px;
  cursor:context-menu;
  bottom:50px;
  color:#000000;
}
button[id=next]:hover{
  background-color: #4a90e2;
}
.slider {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  cursor:pointer;
  -webkit-appearance: none;
  width: 90%;
  height: 50px;
  border: none; /* Remove the border to make it flush */
  background: linear-gradient(to right, var(--thumb-color, #CCCC00) 0%, var(--thumb-color, #CCCC00) var(--thumb-percent, 50%), transparent var(--thumb-percent, 50%), transparent 100%);
  -webkit-transition: .2s;
  transition: .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 50px;
  cursor: pointer;
  background-color: var(--thumb-color, #CCCC00); /* Set the background color to match the thumb color */
}

.slider::-moz-range-thumb { 
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 50px;
  cursor: pointer;
  background-color: var(--thumb-color, #CCCC00); /* Set the background color to match the thumb color */
}





.slider::-moz-focus-outer { 
  border: 0;
}

h1{
  font-size:36px;
}

h2 {
  font-size: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  margin-right: 10px;
}

li a {
  display: block;
  text-align: center;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
}

li a:hover {
  opacity: 0.5;
}

.home {
  width: 127px;
  height: 50px;
  background-image: url('/logo.png');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
}
#player {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}
