body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}
button[id=next]{
  position:absolute;
  cursor:pointer;
  bottom:66px;
  right:0px;
  height:50px;
  width:100px;
  background-color: #000000;
  color: white;
  border: 2px solid #008150;
  transition: 0.1s;
}
button[id=next]:hover{
  background-color: #242424;
  border: 4px solid #00FF9F;
}
.slidecontainer {
  width: 100%;
}

.slider {
  position: absolute;
  bottom:0;
  -webkit-appearance: none;
  width: 100%;
  height: 50px;
  background: #d3d3d3;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:hover {
  background: #FFFFFF;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 50px;
  background: #04AA6D;
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
h1{
  font-size:36px;
}
h3 {
  font-size: 24px;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}